.jumbotron {
    background-color: white;
    border: 5px solid black; 
}

body {
    background-color: #0E8CDF;
}

h1 {
    text-align: center;
    color: white; 
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 90px;
    text-shadow:
		-4px -4px 0 black,
		-4px -4px 0 black,
		4px 4px 0 black,
		4px 4px 0 black
}

.content {
    margin-top: 4em;
    height: 1000px;
    color: white; 
    font-size: 21px; 
    font-family: 'Poiret One', cursive;
}

form {
    justify-content: center;
    padding: 20px;
    width: 600px;
    align-items: center;
    margin: 0 auto;
}

form .form-group {
    width: 100%;
}

form button {
    width: 110px;
    margin: 0 auto; 
    background-color: black; 
    opacity: 0.8; 
    color: white;
}

.content .content-burger {
    width: 500px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 30px;
}

.mainimage {
    text-align: center; 
}

#saying {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center; 
    font-size: 50px; 
    color: black; 
}

.content .content-burger_list {
    background: #30BF51;
    opacity: 0.9; 
    padding: 10px;
    height: 90px;
    border-radius: 4px;
    margin-top: 21px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .content-burger__list img {
    height: 70px;
    border-radius: 4px; 
}

.content .content-burger__list p {
    font-size: 28px;
}

.fa-thumbs-up {
    color: black;
}

.content .content-burger_list2 {
    background: #30BF51;
    opacity: 0.9; 
    padding: 10px;
    height: 90px;
    border-radius: 4px;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

